body {
  font-size: 40px;
}

table {
  margin-top: 45vh;
  margin-left: 40vw;
  border: solid 2px rgb(179, 35, 12);
  border-collapse: collapse;
}

td {
  border: solid 2px rgb(179, 35, 12);
  padding: 15px;
  transition-duration: 0.5s;
}

td.rotated {
  transform: rotate(180deg);
}
